@import url('http://fonts.cdnfonts.com/css/montserrat');

/*Untuk keseluruhan html*/
html {
    scroll-behavior: smooth;
    height: 100%;
}

/*Untuk keseluruhan body*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #401f62;
    font-family: 'Montserrat';
}

/*Untuk keseluruhan yang memiliki class dark (untuk dark mode)*/
.dark {
    color: white;
}

/*Untuk kartu pada saat dark mode*/
.dark .card {
    background-color: #181818;
}

/*Untuk link pada saat dark mode*/
.dark a {
    color: white;
}

/*Untuk gambar sosmed pada saat dark mode*/
.dark .social-image {
    filter: invert() grayscale(1);
}

/*Untuk icon expand pada saat dark mode*/
.dark .expandable-image {
    filter: invert();
}

/*Untuk lingkaran toggle pada saat dark mode*/
.dark .toggle-circle {
    background-color: #181818;
}

/*Untuk background toggle pada saat dark mode*/
.dark .toggle {
    background-color: #37b437;
}

/*Untuk background bercorak*/
#background {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-size: 50%;
    opacity: 0.2;
}

/*Wrapper container*/
.overlay {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Wrapper kedua*/
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 50%;
    height: 100%;
}

/*Container utama*/
.container {
    padding: 12.5% 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/
}

/*Responsif*/
@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 70%;
    }
}

/*Responsif 2*/
@media only screen and (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
}

/*Untuk profile picture ketika dark*/
.dark .pfp {
    background-color: #444444;
}

/*Untuk profile picture*/
.pfp {
    max-width: 10em;
    max-height: 10em;
    min-width: 10em;
    min-height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #bebebe;
    margin-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Untuk gambar pfp*/
.pfp-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*Untuk scrollbar di container*/
.container::-webkit-scrollbar {
    display: none;
}

/*Untuk kartu*/
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.38) 0 5px 10px;
    padding: 1em 2em;
    transition: background-color 0.5s ease;
}

/*Untuk semua element yang ada di kartu*/
.card * {
    transition: background-color 0.5s ease;
}

/*Untuk biodata*/
.biodata {
    display: flex;
}

/*Untuk judul kartu*/
.card-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

/*Untuk bagian yg bisa di klik di kartu*/
.expandable {
    display: flex;
    justify-content: end;
    flex: 1;
}

/*Untuk bagian isi expandable*/
.expandable-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

/*Untuk simbol expand*/
.expandable-image {
    width: 1.2em;
    height: 1.2em;
    opacity: 0.8;
    transition: transform ease 0.5s, filter ease 0.5s;
}

/*Gambar untuk icon expand ketika di expand*/
.expanded .expandable-image {
    transform: rotate(180deg);
}

/*Untuk riwayat hidup dan skill*/
.history, .skill {
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

/*Untuk item riwayat hidup dan skill*/
.history-item, .skill-item {
    display: flex;
    gap: 1em;
}

/*Gambar penjelasan riwayat hidup, skill, dan sosmed*/
.history-image, .skill-image, .social-image {
    width: 100%;
    height: auto;
}

/*Pembungkus gambar*/
.skill-image-wrapper, .history-image-wrapper {
    position: relative;
    width: 4em;
}

/*Pembungkus gambar*/
.social-image-wrapper {
    position: relative;
    width: 3em;
}

/*Judul item kartu riwayat hidup dan skill*/
.history-title, .skill-title {
    font-size: 1.5em;
}

/*Sub judul item kartu*/
.history-subtitle, .skill-subtitle {
    opacity: 0.5;
}

/*Bagian sosmed*/
.social {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

/*Sosmed*/
.social-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

/*Flag yg bisa divisit*/
.visit {
    flex: 1;
    text-align: end;
    transition: opacity 0.2s ease;
    opacity: 0;
}

/*Sosmed yg di hover*/
.social-item:hover .visit {
    opacity: 0.5;
}

/*Sosmed berhyperlink*/
.social-hyperlink {
    color: black;
    text-decoration: none;
}

/*Hyperlink normal*/
.normal-hyperlink {
    color: black;
    text-decoration: none;
}

/*Judul entri*/
.title-entry {
    height: 2em;

    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
}

/*Judul ber animasi*/
.animated-title-entry {
    animation-name: pindahKeatas;
    animation-delay: 1s;
    animation-duration: 0.25s;
}

/*Animasi judul*/
@keyframes pindahKeatas {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

/*Judul biodata*/
.biodata-title {
    height: 2em;
    overflow: hidden;
}

/*Isi biodata*/
.biodata-content {
    display: flex;
    flex-direction: column;
}

/*teks biodata*/
.biodata-text {
    margin: 0.5em 0;
}

/*bagian akhir biodata*/
.biodata-footer {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}

/*Switch*/
.toggle {
    height: 1.5em;
    width: 3em;
    background-color: #818181;
    padding: 0.2em;
    border-radius: 2em;
}

/*Isi switch*/
.mode-switcher {
    display: flex;
    align-items: center;
    gap: 1em;
}

.mode-switcher-text {
    opacity: 0.6;
}

.toggle.active .toggle-circle {
    transform: translateX(100%);
}

.toggle-circle {
    height: 1.5em;
    width: 1.5em;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.2s ease;
}